<!--
VIEW IN FULL SCREEN MODE
FULL SCREEN MODE: http://salehriaz.com/404Page/404.html

DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space
-->

<div class="bg-purple" style="margin:-2rem 0 -6rem 0;">

  <div class="stars">

      <div class="central-body">
          <img class="image-404" src="/assets/404/404.svg" width="300px">
          <p class="fs-1 text-white fw-lighter" style="margin-top: -60px;">{{'Looks like you are lost'|translate}}</p>
          <a routerLink="/" class="btn-go-home">{{'GO BACK HOME'|translate}}</a>
      </div>
      <div class="objects">
          <img class="object_rocket" src="/assets/404/rocket.svg" width="40px">
          <div class="earth-moon">
              <img class="object_earth" src="/assets/404/earth.svg" width="100px">
              <img class="object_moon" src="/assets/404/moon.svg" width="80px">
          </div>
          <div class="box_astronaut">
              <img class="object_astronaut" src="/assets/404/astronaut.svg" width="140px">
          </div>
      </div>
      <div class="glowing_stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>

      </div>

  </div>

</div>
