<div>
  <h1 mat-dialog-title>{{((goalOrChildId|type: 'object')?'Edit goal':'Add new goal')|translate}}</h1>
  <form [formGroup]="formGroup" class="container-fluid" (submit)="submit($event)">
    <div mat-dialog-content>
      <div class="mb-3">
        <div class="row">
          <div class="col-md-12">
            <button class="w-100 rounded-5" type="button" mat-stroked-button color="primary"
              (click)="selectActivity()">{{(selectedActivity?'Change the activity':'Choose an activity')|translate}}</button>
            <mat-error *ngIf="formGroup.get('activityId')?.errors?.['dirty']" style="font-size: small;font-weight: 500;" class="mx-2 mat-error">{{'You must choose an activity'|translate}}</mat-error>
          </div>
        </div>

        <div class="row" *ngIf="selectedActivity">
          <div class="col-md-12">
            <mat-list>
              <mat-list-item>
                <div matListItemTitle>{{selectedActivity.name}}</div>
                <div matListItemLine>{{'Age range'|translate}}:&nbsp;{{selectedActivity.minAge}} –
                  {{selectedActivity.maxAge}}</div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>

      <div *ngIf="goalOrChildId|type:'object'" class="row mb-3">
        <div class="col-md-12">
            <mat-button-toggle-group formControlName="state" class="w-100"
              aria-label="Goal state">
              <mat-button-toggle class="w-50" value="continual">{{'Continual'|translate}}</mat-button-toggle>
              <mat-button-toggle class="w-50" value="completed">{{'Completed'|translate}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'Note'|translate}}</mat-label>
            <mat-icon matPrefix class="material-symbols-rounded">notes</mat-icon>
            <textarea type="text" matInput placeholder="..." formControlName="note" maxlength="512"></textarea>
            <mat-hint align="end">{{formGroup.get('note')?.value?.length??0}}/500</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <mat-form-field style="max-width: 250px;width:100%">
            <mat-label>{{'Assign date'|translate}}</mat-label>
            <input required matInput [matDatepicker]="picker6" [max]="nowDate" placeholder="..."
              formControlName="assignDatetime">
            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
            <mat-datepicker #picker6></mat-datepicker>
            <mat-error *ngIf="formGroup.get('assignDatetime')?.errors?.['required']">{{'You must choose a date'|translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>



    <div mat-dialog-actions>
      <button type="button" mat-button (click)="dialogRef.close()" color="accent" class=" rounded-5"
        cdkFocusInitial>{{'Cancel'|translate}}</button>
      <button type="submit" mat-button class=" rounded-5"
        color="primary">{{((goalOrChildId|type:'object')?'Edit':'Add')|translate}}</button>
    </div>
  </form>
</div>
