# compiled output
backend-nest/dist
backend-nest/dist-angular
backend-nest/node_modules

# Logs
backend-nest/logs
backend-nest/*.log
backend-nest/npm-debug.log*
backend-nest/pnpm-debug.log*
backend-nest/yarn-debug.log*
backend-nest/yarn-error.log*
backend-nest/lerna-debug.log*



# -------------------------------------------------------------------------------
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
frontend-angular/dist
frontend-angular/dist-angular
frontend-angular/tmp
frontend-angular/out-tsc
frontend-angular/bazel-out

# Node
frontend-angular/node_modules
frontend-angular/npm-debug.log
frontend-angular/yarn-error.log

# IDEs and editors
frontend-angular/.idea/
frontend-angular/.project
frontend-angular/.classpath
frontend-angular/.c9/
frontend-angular/*.launch
frontend-angular/.settings/
frontend-angular/*.sublime-workspace

# Visual Studio Code
frontend-angular/.vscode/*
frontend-angular/!.vscode/settings.json
frontend-angular/!.vscode/tasks.json
frontend-angular/!.vscode/launch.json
frontend-angular/!.vscode/extensions.json
frontend-angular/.history/*

# Miscellaneous
frontend-angular/.angular/cache
frontend-angular/.sass-cache/
frontend-angular/connect.lock
frontend-angular/coverage
frontend-angular/libpeerconnection.log
frontend-angular/testem.log
frontend-angular/typings

# System files
frontend-angular/.DS_Store
frontend-angular/Thumbs.db
frontend-angular/src/assets/person-images/*-*.*

# --------------------------------------------

# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# System files
.DS_Store
Thumbs.db

documentation