
<div class="container">
  <app-title [link]="{title:'About the Hadramout Foundation for Autism',class:'my-primary-text'}" [isPrinting]="undefined"></app-title>

  <div class="row mt-5">
    <div class="col-md-7 align-self-center">
      <!-- <h3 class="text-center my-primary-text">{{'About the Hadramout Foundation for Autism'|translate}}</h3> -->
      <p class="mx-4 mt-4 fs-5">{{'Hadramout Foundation for Autism was established on 2012 with the aim of training,
        rehabilitation, education and service of children with special needs and their families. It aims to implement
        projects for the rehabilitation and training for autism centres and societies in Hadramout according to the
        latest educational methods and with the participation of accredited specialists from outside Yemen.'|translate}}
      </p>
    </div>
    <div class="col-md-5">
      <a class=" d-flex justify-content-center align-content-center" href="https://www.facebook.com/hadaidorg"><img
          class="align-self-center shadow rounded-5" width="50%" src="assets/img/HFA-logo.jpg"
          alt="Hadramout Foundation for Autism logo" /></a>
    </div>
  </div>

  <!-- <mat-divider class="mx-5 w-50 my-5"></mat-divider> -->
  <div class="my-5 py-1"></div>
  <div class="row">
    <div class="col-md-7 d-flex justify-content-center">
      <a href="https://www.facebook.com/hadaidorg"><img class="align-self-center shadow rounded-5" width="100%"
          src="assets/img/HFA.jpg" alt="Hadramout Foundation for Autism building" /></a>
    </div>
    <div class="col-md-5 align-self-center">
      <p class="mx-4 mt-2 fs-5">{{'The foundation started under the auspices of 50 children with disabilities (autism -
        down syndrome - learning difficulties). In 2015, the number of children increased to 120, and the number of
        children joining it reached 197 children and 131 of the educational and administrative cadres worked, and the
        number of reserve children from those wishing to join the foundation reached more than 200 children. In that
        time, the foundation was unable to receive them due to lack of the capacity of the current building and the
        absence of an operational budget. The foundation celebrated the graduation of more than 60 of its children and
        enrolled in public schools and more than 20 children to qualify the professional to practice their lives
        normally.'|translate}}&nbsp;<a href="https://www.facebook.com/hadaidorg">{{'For more information click
          here.'|translate}}</a></p>
    </div>
  </div>
  <div class="my-4 py-md-3"></div>

  <div class="m-md-3">
    <a href="https://www.facebook.com/hadaidorg"><img class="rounded-2 shadow-sm" width="100%"
        src="assets/img/HFA-banner.jpg" alt="Hadramout Foundation for Autism banner" /></a>
  </div>
</div>