<app-title [isPrinting]="undefined"></app-title>
<app-card>
  <app-child-info [child]="child"></app-child-info>
</app-card>

<app-card id="teachers" cardTitle="Child Teachers">
  <mat-list>
    <div *ngFor="let teacher of child?.teachers;let i=index;">
      <app-entity-item [titleText]="teacher.person.name" [content]="('Username'| translate)+': '+ teacher.username"
        [link]="pr.canUser('viewAccountPage')?('./teachers/account/' + teacher.id):undefined"
        [linkTooltip]="'View all information'"></app-entity-item>
      <mat-divider *ngIf="child && child.teachers.length -1 != i" class="mx-3"></mat-divider>
    </div>
    <p *ngIf="child && child.teachers && child.teachers.length == 0" class="text-center fst-italic opacity-50 my-2">
      {{'Empty list'|translate}}
    </p>
  </mat-list>
</app-card>

<app-card cardTitle="Child Folder" [padding]="false">
  <app-file-manager *ngIf="child && child.person" [personId]="child.person.id"></app-file-manager>
</app-card>