<!-- <h1 mat-dialog-title>{{'Notifications'|translate}}</h1> -->
<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      {{'Notifications'|translate}}
      &nbsp;<mat-icon>notifications</mat-icon>
    </ng-template>
    <div mat-dialog-content *ngIf="nt.notifications|async as notifications" class="pt-0">
      <p *ngIf="notifications.length == 0" class="text-center fst-italic opacity-50 my-5">
        {{'Empty list'|translate}}
      </p>
      <div *ngFor="let n of notifications; let i=index;" class="my-3">
        <!--we don't use n, to loop in reverse so new notification appear above-->
        <app-notification-item [dialogRef]="dialogRef"
          [item]="notifications[notifications.length-1-i]"></app-notification-item>
        <mat-divider *ngIf="notifications.length-1!=i"></mat-divider>
      </div>
    </div>
  </mat-tab>

  <mat-tab *ngIf="pr.canUser('broadcastMessage')">
    <ng-template mat-tab-label>
      {{'Online'|translate}}
      &nbsp;<mat-icon>group</mat-icon>
    </ng-template>
    <div *ngIf="nt.onlineAccounts.value && nt.onlineAccounts.value.length != 0" class="d-flex mx-4 flex-row-reverse">
      <button type="button" mat-icon-button (click)="openSendMessageDialog()"
        [matTooltip]="'Send broadcast message'|translate">
        <mat-icon color="primary" class="mb-1">campaign</mat-icon>
      </button>
    </div>
    <div mat-dialog-content class="pt-0">
      <p *ngIf="!nt.onlineAccounts.value || nt.onlineAccounts.value.length == 0" class="text-center fst-italic opacity-50 my-5">
        {{((nt.onlineAccounts|async)==null?'Loading...':'Empty list')|translate}}
      </p>
      <div *ngFor="let account of (nt.onlineAccounts|async)??[];let i=index" class="my-3">
        <div class="ant-notification-notice-content d-flex my-2">
          <div class="flex-fill px-3 " [dir]="display.getDirection()">
            <div class="fw-normal fs-6 mb-1 position-relative">
              {{account?.person?.name}}
              <span class="fs-7 fst-italic position-absolute opacity-75" style="top:-8px"
                [ngClass]="{'end-0':display.getDirection()=='ltr','start-0':display.getDirection()=='rtl'}">{{(account.timestamp|fromNow)}}</span>
            </div>
            <div class="d-inline">
              {{'Username'|translate}}:&nbsp;{{account.username}}
            </div>
          </div>
          <button type="button" mat-icon-button (click)="openSendMessageDialog(account)"
            [matTooltip]="'Send notification message'|translate">
            <mat-icon color="primary" class="mb-1">send</mat-icon>
          </button>
        </div>
        <mat-divider *ngIf="((nt.onlineAccounts|async)??[]).length-1!=i"></mat-divider>

      </div>
    </div>
  </mat-tab>
</mat-tab-group>