<!-- <h1 mat-dialog-title>{{'Notifications'|translate}}</h1> -->
<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      {{'Notifications'|translate}}
      &nbsp;<mat-icon>notifications</mat-icon>
    </ng-template>
    <div mat-dialog-content>
      <mat-list>
        
      </mat-list>
    </div>
  </mat-tab>

  <mat-tab *ngIf="pr.canUser('broadcastMessage')">
    <ng-template mat-tab-label>
      {{'Online'|translate}}
      &nbsp;<mat-icon>group</mat-icon>
    </ng-template>
    <div mat-dialog-content>
      Content 2
    </div>
  </mat-tab>
</mat-tab-group>