<!-- <h1 mat-dialog-title>{{'Notifications'|translate}}</h1> -->
<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      {{'Notifications'|translate}}
      &nbsp;<mat-icon>notifications</mat-icon>
    </ng-template>
    <div mat-dialog-content *ngIf="nt.notifications|async as notifications">
      <p *ngIf="notifications.length == 0" class="text-center opacity-75 my-5">
        {{'Empty list'|translate}}
      </p>
      <div *ngFor="let n of notifications; let i=index;" class="my-2">
        <!--we don't use n, to loop in reverse so new notification appear above-->
        <app-notification-item [dialogRef]="dialogRef"
          [item]="notifications[notifications.length-1-i]"></app-notification-item>
        <mat-divider *ngIf="notifications.length-1!=i"></mat-divider>
      </div>
    </div>
  </mat-tab>

  <mat-tab *ngIf="pr.canUser('broadcastMessage')">
    <ng-template mat-tab-label>
      {{'Online'|translate}}
      &nbsp;<mat-icon>group</mat-icon>
    </ng-template>
    <div mat-dialog-content>
      <p *ngIf="!nt.onlineAccounts.value || nt.onlineAccounts.value.length == 0" class="text-center opacity-75 my-5">
        {{((nt.onlineAccounts|async)==null?'Loading...':'Empty list')|translate}}
      </p>
      <div *ngFor="let account of (nt.onlineAccounts|async)??[]" class="my-2">

        <div class="ant-notification-notice-content d-flex my-2">
          <div class="flex-fill px-3 " [dir]="ut.getDirection()">
            <div class="fw-normal fs-6 mb-1 position-relative">
              {{account?.person?.name}}
              <span class="fs-7 fst-italic position-absolute opacity-75" style="top:-8px"
                [ngClass]="{'end-0':ut.getDirection()=='ltr','start-0':ut.getDirection()=='rtl'}">{{display.fromNow(account.timestamp,true)}}</span>
            </div>
            <div class="d-inline">
              {{'Username'|translate}}:&nbsp;{{account.username}}
            </div>
          </div>
          <button type="button" mat-icon-button (click)="openSendMessageDialog(account)"
            [matTooltip]="'Send notification message'|translate">
            <mat-icon color="primary" class="mb-1">send</mat-icon>
          </button>
        </div>
      </div>
      <!-- <mat-list>
        <mat-list-item *ngFor="let account of (nt.onlineAccounts|async)??[]">
          <span matListItemTitle>{{account.person?.name}}</span>
          <span *ngIf="dialogRef?.getState()===0" class="fs-7 fst-italic position-absolute opacity-75" style="top:-8px"
          [ngClass]="{'end-0':ut.getDirection()=='ltr','start-0':ut.getDirection()=='rtl'}">{{display.fromNow(account.timestamp)}}</span>
          <span matListItemLine>{{'Username'|translate}}:&nbsp;{{account.username}}</span>
        </mat-list-item>
      </mat-list> -->
    </div>
  </mat-tab>
</mat-tab-group>