tr.example-detail-row {
  height: 0;
}

tr.table-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.table-row:active {
  background: #efefef;
}

.table-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

th{
  font-weight: 500;
  font-size: 0.9rem;
  border-bottom: 1px solid black;
}

