<app-title [links]="[{title:'Children'}]" [isPrinting]="isPrinting"></app-title>
<div class="container">
  <app-search-export [isPrinting]="isPrinting" [gridOptions]="gridOptions" (keyup)="applySearch($event)"
    (print)="printTable()"></app-search-export>

  <div class="mat-elevation-z4 table-responsive mb-4 rounded-4">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular style="width: 100%;" class="ag-theme-material rtl" [gridOptions]="gridOptions"
      [rowData]="rowData|async" domLayout='autoHeight' [quickFilterText]="quickFilter"></ag-grid-angular>
  </div>

  <app-table-controllers *ngIf="!isPrinting"
    [anchor1]="{text:'Register a child',icon:'person_add',link:'/add-child',show:this.pr.canUser('addChildPage'),}"
    [anchor2]="{text:'View',icon:'wysiwyg',disabled:selectedItem==null,tooltip:'View all information',link:selectedItem?'/child/'+selectedItem!.id:'./',}"
    [button3]="{text:'Edit',icon:'edit', show:this.pr.canUser('editChildPage'),disabled:selectedItem==null,tooltip:'Edit the selected row',}"
    (button3Click)="edit(this.selectedItem)"
    [anchor4]="{text:'Goals',icon:'sports_score',disabled:selectedItem==null,tooltip:'View goals of the selected child',link:selectedItem?'/child/'+selectedItem!.id+'/goals':'./',}"
    [anchor5]="{disabled:selectedItem==null,tooltip:'View strengths of the selected child',link:selectedItem?'/child/'+selectedItem!.id+'/strengths':'./',text:'Strengths',icon:'fitness_center',}"
    [anchor6]="{show:this.pr.canUser('childReportPage'),disabled:selectedItem==null,tooltip:'View report of the selected child',link:selectedItem?'/child/'+selectedItem!.id+'/report':'./',text:'Report',icon:'analytics'}"
    ></app-table-controllers>
</div>