<app-title title1="Children" [isPrinting]="isPrinting"></app-title>
<div class="container">
  <div class="row" *ngIf="!isPrinting">
    <mat-form-field class="col-11">
      <mat-label>{{'Search'|translate}}</mat-label>
      <input matInput (keyup)="applySearch($event)" placeholder="...">
    </mat-form-field>
    <div class="col-1">
      <button mat-icon-button [matMenuTriggerFor]="exportMenu" [matTooltip]="'Export table'|translate"
        aria-label="Export button with a menu">
        <mat-icon color="primary">ios_share</mat-icon>
      </button>
      <mat-menu #exportMenu="matMenu">
        <button mat-menu-item (click)="agGrid.exportCSV(gridOptions.api)">
          <mat-icon color="primary">download</mat-icon>
          <span>{{'Export as CSV'|translate}}</span>
        </button>
        <button mat-menu-item (click)="agGrid.exportExcel(gridOptions.api)">
          <mat-icon color="primary">download</mat-icon>
          <span>{{'Export as Excel'|translate}}</span>
        </button>
        <button mat-menu-item (click)="this.printTable()">
          <mat-icon color="primary">print</mat-icon>
          <span>{{'Print'|translate}}</span>
        </button>
        <button mat-menu-item (click)="agGrid.exportClipboard(gridOptions.api,false)">
          <mat-icon color="primary">content_copy</mat-icon>
          <span>{{'Copy table'|translate}}</span>
        </button>
        <button mat-menu-item (click)="agGrid.exportClipboard(gridOptions.api,false)">
          <mat-icon color="primary">table_view</mat-icon>
          <span>{{'Copy table (with headers)'|translate}}</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="mat-elevation-z4 table-responsive mb-4 rounded-4">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular style="width: 100%;" class="ag-theme-material rtl" [gridOptions]="gridOptions" [rowData]="rowData|async"
      domLayout='autoHeight' [quickFilterText]="quickFilter"></ag-grid-angular>
  </div>
  <div class="d-md-flex mx-md-0 justify-content-evenly rounded-5" *ngIf="!isPrinting">
    <app-button *ngIf="canAddEdit" class="w-100 mx-2 mb-2" appearance="raised"
    link="/add-child" text="Register a child" icon="person_add">
    </app-button>
    <app-button [disabled]="selectedItem==null" class="w-100 mx-2 mb-2"
      tooltip="View all information" text="View" icon="wysiwyg"
      [link]="'/child/'+selectedItem?.id" appearance="stroked">
    </app-button>
    <app-button *ngIf="canAddEdit" [disabled]="selectedItem==null" tooltip="Edit the selected row"
      class="w-100 mx-2 mb-2" text="Edit" icon="edit" appearance="stroked" (click)="edit(this.selectedItem)">
    </app-button>
    <app-button [disabled]="selectedItem==null" class="w-100 mx-2 mb-2"
      tooltip="View goals of the selected child" text="Goals" icon="sports_score"
      [routerLink]="selectedItem?'/child/'+selectedItem!.id+'/goals':'#'" appearance="stroked">
    </app-button>
    <app-button [disabled]="selectedItem==null" class="w-100 mx-2 mb-2"
      tooltip="View strengths of the selected child" text="Strengths" icon="fitness_center"
      [link]="selectedItem?'/child/'+selectedItem!.id+'/strengths':'#'" appearance="stroked">
    </app-button>
    <app-button *ngIf="this.ut.userHasAny('Admin','HeadOfDepartment')" [disabled]="selectedItem==null" class="w-100 mx-2 mb-2"
      tooltip="View report of the selected child" text="Report" icon="analytics"
      [link]="selectedItem?'/child/'+selectedItem!.id+'/report':'#'" appearance="stroked">
    </app-button>
  </div>
</div>
