<div class="circle-1 rounded-circle position-fixed my-lightblue-bg"></div>
<div class="circle-2 rounded-circle position-fixed my-lightblue-bg"></div>
<div class="d-flex justify-content-center align-items-center mb-5 pb-5">
  <div class="container mx-3 shadow border-0 rounded-5 overflow-hidden">
    <div class="row">
      <app-login-form class="col-lg-6  my-primary-bg"></app-login-form>

      <div class="col-lg-6 bg-white p-4 h-auto d-flex flex-column align-content-center justify-content-center">
        <img class="mx-auto d-block image px-5 p img-fluid" src="/assets/img/logo.png"/>
        <h1 class="text-center text-dark mt-2"><b>{{'ACTS'|translate}}</b></h1>
        <h1 class="text-center text-dark mt-4"><b>{{'Autism Children Technical System'|translate}}</b></h1>
      </div>
    </div>

  </div>
</div>
