<div class="container">
  <div class="d-flex justify-content-between align-items-end">
    <app-title title1="Child Report"></app-title>
    <button *ngIf="!isPrinting" (click)="printHandle()" class="mx-1 mx-md-5 rounded-5" mat-stroked-button
      color="primary"><mat-icon>print</mat-icon>{{'Print'|translate}}</button>
  </div>
  <ng-container *ngIf="childReport$ |async as childReport">
    <p class="fw-normal text-center mx-md-5  fs-6">
      {{nowDatetime}}
    </p>
    <h4 class="m-4 p-4 mt-0 pt-0 mb-0 pb-0 fw-normal">{{'Personal information'|translate}}</h4>
    <mat-card class="m-4 shadow d-flex rounded-5">
      <mat-card-content>
        <app-child-info [isPrinting]="isPrinting" [child]="childReport.child"></app-child-info>
      </mat-card-content>
    </mat-card>
    <h4 class="m-4 mb-0 p-4 pb-0 fw-normal">{{'Goals analytics'|translate}}</h4>

    <mat-card class="m-4 shadow d-flex rounded-5">
      <mat-form-field class="align-self-end mt-3 mx-3 timeframe" appearance="outline">
        <mat-label>{{'Timeframe'|translate}}</mat-label>
        <mat-select (selectionChange)="updateGoalChart($event.value)" class="mt-2">
          <mat-option selected value="All Time">{{'All time'|translate}}</mat-option>
          <mat-option value="Yearly">{{'Yearly'|translate}}</mat-option>
          <mat-option value="Monthly">{{'Monthly'|translate}}</mat-option>
          <mat-option value="Weekly">{{'Weekly'|translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <ag-charts-angular class="align-self-center mb-1" style="height: 100%;width: 85%;"
        [options]="options"></ag-charts-angular>
    </mat-card>
  </ng-container>
</div>
