// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();

// import our custom theme
@import "./theme.scss";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($my-theme);

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.dark-theme` will be affected by this alternate dark theme instead of the default theme.

.dark-theme {
  @include angular-material-color($dark-theme);
}

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($typography);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

mat-checkbox.text-white div label {
  color: white !important;
}

:not(mat-form-field) > mat-error {
  font-size: small;
  font-weight: 500;
}

.ag-header-cell {
  font-weight: 500;
  font-size: 0.9rem;
}
.ag-header-viewport {
  border-bottom: 1px solid black !important;
}

.circle {
  z-index: -1;
}
.circle-1 {
  @extend .circle;
  margin-top: 50px;
  margin-left: 60px;
  $radius: 150px;
  height: $radius;
  width: $radius;
}

.circle-2 {
  @extend .circle;
  right: 0;
  bottom: 0;
  $radius: 680px;
  height: $radius;
  width: $radius;
  margin-right: -100px;
  margin-bottom: -300px;
}

.nbsp {
  white-space: nowrap;
}

.notify-rtl {
  .ant-notification-notice-message {
    direction: rtl;
  }
  .ant-notification-notice-description {
    direction: rtl;
  }
}
li > .nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
  transition: all 250ms ease-out !important;
  text-decoration-color: rgba(255, 255, 255, 0);
}
li > .nav-link:active,
li > .nav-link:hover,
li > .nav-link:focus,
li > .nav-link:checked,
li > .activeLink {
  color: rgba(255, 255, 255, 1) !important;
}
li > .activeLink {
  text-decoration-color: rgba(255, 255, 255, 0.9) !important;
  text-decoration-thickness: 0.11rem !important;
  text-underline-offset: 9px !important;
  text-decoration-line: underline !important;
}

mat-dialog-container {
  max-width: 600px;
  width: 600px !important;
}

.mat-mdc-dialog-surface {
  border-radius: 2rem !important;
}

.min-width-120 {
  min-width: 120px !important;
}

.fs-7 {
  font-size: 0.8rem;
}

.cursor-pointer {
  cursor: pointer;
}

mat-dialog-actions {
  margin-right: 1.4rem !important;
  margin-left: 1.4rem !important;
}

[dir="rtl"] [mat-menu-item] mat-icon {
  margin-left: 0px !important;
  margin-right: 16px !important;
}

[dir="rtl"] .cdk-overlay-connected-position-bounding-box mat-option {
  direction: rtl !important;
}

[dir="rtl"] .cdk-overlay-connected-position-bounding-box mat-datepicker-content {
  direction: rtl !important;
}

[dir="rtl"] .ms-0 {
  margin-right: 0 !important;
}

[dir="rtl"] .ms-1 {
  margin-right: 0.25rem !important;
}

[dir="rtl"] .ms-2 {
  margin-right: 0.5rem !important;
}

[dir="rtl"] .ms-3 {
  margin-right: 1rem !important;
}

[dir="rtl"] .ms-4 {
  margin-right: 1.5rem !important;
}

[dir="rtl"] .ms-5 {
  margin-right: 3rem !important;
}

[dir="rtl"] .ms-auto {
  margin-right: auto !important;
}

[dir="rtl"] .me-0 {
  margin-left: 0 !important;
}

[dir="rtl"] .me-1 {
  margin-left: 0.25rem !important;
}

[dir="rtl"] .me-2 {
  margin-left: 0.5rem !important;
}

[dir="rtl"] .me-3 {
  margin-left: 1rem !important;
}

[dir="rtl"] .me-4 {
  margin-left: 1.5rem !important;
}

[dir="rtl"] .me-5 {
  margin-left: 3rem !important;
}

[dir="rtl"] .me-auto {
  margin-left: auto !important;
}

[dir="rtl"] .ps-0 {
  padding-right: 0 !important;
}

[dir="rtl"] .ps-1 {
  padding-right: 0.25rem !important;
}

[dir="rtl"] .ps-2 {
  padding-right: 0.5rem !important;
}

[dir="rtl"] .ps-3 {
  padding-right: 1rem !important;
}

[dir="rtl"] .ps-4 {
  padding-right: 1.5rem !important;
}

[dir="rtl"] .ps-5 {
  padding-right: 3rem !important;
}

[dir="rtl"] .ps-auto {
  padding-right: auto !important;
}

[dir="rtl"] .pe-0 {
  padding-left: 0 !important;
}

[dir="rtl"] .pe-1 {
  padding-left: 0.25rem !important;
}

[dir="rtl"] .pe-2 {
  padding-left: 0.5rem !important;
}

[dir="rtl"] .pe-3 {
  padding-left: 1rem !important;
}

[dir="rtl"] .pe-4 {
  padding-left: 1.5rem !important;
}

[dir="rtl"] .pe-5 {
  padding-left: 3rem !important;
}

[dir="rtl"] .pe-auto {
  padding-left: auto !important;
}

[dir="rtl"] img.float-start {
  float: right !important;
}

[dir="rtl"] img.float-end {
  float: left !important;
}

ejs-filemanager,
ejs-filemanager button,
ejs-filemanager div.e-dialog,
ejs-filemanager div.e-dlg-content,
ejs-filemanager div.e-dlg-container {
  border-radius: 2rem !important;
  border-width: 0 !important;
}

ejs-filemanager span.e-input-group {
  border-radius: 2rem !important;
}

ejs-filemanager div.e-footer-content,
ejs-filemanager #default-filemanager_upload_dialog_dialog-content {
  border-bottom-right-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}

ejs-filemanager div.e-dlg-header-content,
ejs-filemanager div.e-control.e-toolbar.e-lib.e-keyboard.e-toolpop {
  border-top-right-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
}

[dir="rtl"] ejs-filemanager div.e-hor-nav {
  border-top-left-radius: 2rem !important;
}
[dir="ltr"] ejs-filemanager div.e-hor-nav {
  border-top-right-radius: 2rem !important;
}

ejs-filemanager *[style*="z-index: 999999999"] {
  z-index: 99 !important;
}

ejs-filemanager *[style*="z-index: 1000000000"] {
  z-index: 100 !important;
}

body > div[style*="background: #EEF2FF"],
body > div > div[style*="background-color: rgba(0, 0, 0, 0.5)"] {
  display: none !important;
}

button[mat-button],
a[mat-button],
button[mat-raised-button],
a[mat-raised-button],
button[mat-stroked-button],
a[mat-stroked-button],
button[mat-flat-button],
a[mat-flat-button] {
  border-radius: 2rem !important;
  white-space: nowrap;
}

div[id*="mat-menu-panel"] {
  border-radius: 1.6rem !important;
}

div[id*="mat-select-"] {
  border-radius: 1.2rem !important;
}

mat-datepicker-content {
  border-radius: 1.8rem !important;
}

/* Round ~all input fields*/
mat-form-field > div.mdc-text-field {
  border-radius: 1.8rem !important;
}

a.my-accent-text:hover{
  text-decoration: underline;
  opacity: 1;
}
a.my-accent-text{
  opacity: .9;
}