// ? Importing `Work Sans` font for headings, you can change this if you want
@import url("assets/font-roboto/index");
@import 'ag-grid-enterprise/styles/ag-grid.css';
@import 'ag-grid-enterprise/styles/ag-theme-material.css';

// ? 1. Default theme
$my-primary: mat-palette($mat-indigo, 900);
$my-accent: mat-palette($mat-pink, A200, A100, A400);
$my-warn: mat-palette($mat-red, 800);



// ? 2. Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);

// ? 3. Define a custom heading typography config
$heading-font-family: "'Work Sans', sans-serif";
$typography: mat-typography-config(
	$display-4: mat-typography-level(112px, $font-family: $heading-font-family),
	$display-3: mat-typography-level(56px, $font-family: $heading-font-family),
	$display-2: mat-typography-level(45px, $font-family: $heading-font-family),
	$display-1: mat-typography-level(34px, $font-family: $heading-font-family),
	$headline: mat-typography-level(24px, $font-family: $heading-font-family),
	$title: mat-typography-level(20px, $font-family: $heading-font-family),
);

$my-theme: mat-light-theme(
	(
		color: (
			primary: $my-primary,
			accent: $my-accent,
			warn: $my-warn,
		),
		typography: $typography,
		density: 0,
	)
);

$dark-theme: mat-dark-theme(
	(
		color: (
			primary: $dark-primary,
			accent: $dark-accent,
			warn: $dark-warn,
		),
		typography: $typography,
		density: 0,
	)
);

.my-primary-text {
	color: mat-color($my-primary);
}
.my-accent-text {
	color: mat-color($my-accent);
}
a.my-accent-text:hover {
	color: mat-color($my-accent);
}
.my-warn-text {
	color: mat-color($my-warn);
}
.my-primary-bg {
	background-color: mat-color($my-primary);
}
.my-accent-bg {
	background-color: mat-color($my-accent);
}
.my-warn-bg {
	background-color: mat-color($my-warn);
}
.my-lightblue-bg {
	background-color: rgb(173, 187, 226);
}
.my-primary-border {
	border-color: mat-color($my-primary);
}
.my-accent-border {
	border-color: mat-color($my-accent);
}
.my-warn-border {
	border-color: mat-color($my-warn);
}
.my-lightblue-border {
	border-color: rgb(173, 187, 226);
}
