<footer class=" my-primary-bg shadow"
  style="border-top-left-radius:1.4rem; border-top-right-radius:1.4rem;margin-top:10vh;">
  <div class="d-flex flex-wrap justify-content-md-center justify-content-between pt-5 pb-5 container">
    <div class="text-white d-flex flex-md-grow-0 flex-grow-1 flex-column flex-shrink-1 align-items-center">
      <img src="assets/img/logo.png" width="200wv" height="200wv" class="mb-4" alt="ACTS logo">
      <div class="text-center">
        <h1 class="display-1 text-white">{{'ACTS'|translate}}</h1>
        <p class="display-6">{{'Autism Children Technical System'|translate}}</p>
      </div>
    </div>

    <div class="flex-fill">
      <mat-divider class="d-md-none mb-3 mx-5"></mat-divider>
      <ul class="navbar-nav text-center">
        <li class="px-3 nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">{{'Home'|translate}}</a>
        </li>
        <li *ngIf="pr.canUser('childrenPage')" class="px-3 nav-item"
          routerLinkActive="active">
          <a class="nav-link" routerLink="/children">{{'Children'|translate}}</a>
        </li>
        <li *ngIf="pr.canUser('programsPage')" class="px-3 nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/program">{{'Programs'|translate}}</a>
        </li>
        <li *ngIf="pr.canUser('fieldsPage')" class="px-3 nav-item"
          routerLinkActive="active">
          <a class="nav-link" routerLink="/field">{{'Fields'|translate}}</a>
        </li>
        <li *ngIf="pr.canUser('specialActivitiesPage')" class="px-3 nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/special-activities">{{'Special Activities'|translate}}</a>
        </li>
        <li *ngIf="pr.canUser('accountsPage')" class="px-3 nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/account">{{'Accounts'|translate}}</a>
        </li>
        <li class="px-3 nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/settings">{{'Settings'|translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
