<form [formGroup]="formGroup" class="container-fluid">
  <div class="row flex-row-reverse">
    <div class="col-md-3 d-flex flex-column justify-content-center">
      <img #imageRef class="mx-auto rounded-4 d-block" style="height: 9.5rem;max-width: 100%;"
        [attr.src]="image?undefined:(formGroup.controls['image'].value && formGroup.controls['image'].value.startsWith('http')?formGroup.controls['image'].value:('assets/person-images/'+(formGroup.controls['image'].value??'default.svg')))" />
      <input #imageInput type="file" name="image" (change)="onFileChange($event)" accept="image/*" hidden>
      <button type="button" class="w-75 mt-2 mx-auto mb-3 mb-md-0" mat-stroked-button (click)="imageInput.click()"
        color="primary">
        {{(formGroup.get('image')?.value != null||image?'Change image':'Choose image')|translate}}
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="col-md-9 p-2 align-self-start">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'Name'|translate}}</mat-label>
            <mat-icon matPrefix class="material-symbols-rounded">person</mat-icon>
            <input #nameInput type="text" matInput placeholder="..." formControlName="name" required minlength="4"
              maxlength="100" [matAutocomplete]="existedPerson">
            <mat-autocomplete #existedPerson="matAutocomplete">
              <mat-optgroup [label]="((state=='child'?'Existed children':'Existed accounts')|translate)+':'">
                <mat-option *ngFor="let p of existedPersons$ | async as existedPersons" [value]="p.name"
                  (click)="router.navigate([state=='child'?'children':'accounts',state, p.id])"
                  [matTooltip]="'View all information'|translate">
                  {{p.name}}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls['name'].errors?.['required']">
              {{'You must enter a value'|translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.getError('minlength','name') as err">
              {{'Minimum length is '|translate}}{{err.requiredLength}}
            </mat-error>
            <mat-hint *ngIf="existedPersons$|async as existedPersons">
              {{existedPersons.length > 0 ?
              ((state=='child'?
              'There is a child containing the same name'
              :'There is an account containing the same name')|translate)+'!':''}}
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-md-3">
        <div class="col-md-4">
          <mat-form-field style="max-width: 250px;width:100%" appearance="fill">
            <mat-label>{{'Gender'|translate}}</mat-label>
            <mat-icon matPrefix *ngIf="formGroup.controls['gender'].value=='Male'">male</mat-icon>
            <mat-icon matPrefix *ngIf="formGroup.controls['gender'].value=='Female'">female</mat-icon>
            <mat-select required placeholder="..." formControlName="gender">
              <mat-option value="Male">{{'Male'|translate}}</mat-option>
              <mat-option value="Female">{{'Female'|translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls['gender'].errors?.['required']">
              {{'You must choose a value'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <app-datepicker label="Birthdate" [min]="formService.before80y$|async" [max]="(state=='child'?formService.before4y$:formService.before10y$)|async"
            controlName="birthDate" startView="multi-year" [formGroup]="formGroup"></app-datepicker>
        </div>
        <div class="col-md-4">
          <app-datepicker label="Registration date" [min]="formService.minCreatedDate$|async"
            [max]="formService.nowDate$|async" controlName="createdDatetime" [formGroup]="formGroup"></app-datepicker>
        </div>
      </div>
    </div>
  </div>
</form>