<p>app-person-form works!</p>
<form [formGroup]="formGroup" class="container-fluid">
  <div class="row">
    <div class="col-md-8 p-3">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{'Name'|translate}}</mat-label>
        <mat-icon matPrefix class="material-symbols-rounded">person</mat-icon>
        <input type="text" matInput placeholder="..." [formControl]="formGroup.controls['name']" required minlength="4" maxlength="50">
        <mat-error *ngIf="formGroup.controls['name'].errors?.['required']">{{'You must enter a value'|translate}}</mat-error>
        <mat-error *ngIf="formGroup.controls['name'].errors?.['minlength']">{{'Minimum length is '|translate:minlength}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-4 p-3">
      <mat-form-field style="width: 200px;" appearance="fill">
        <mat-label>{{'Birthdate'|translate}}</mat-label>
        <input matInput [matDatepicker]="picker" [placeholder]="'Birthdate'|translate" [formControl]="formGroup.controls['birthDate']">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker startView="multi-year" startAt="2010-01-01T04:48:00.380Z" #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 p-3">
      <mat-form-field  style="width: 200px;" appearance="fill">
        <mat-label>{{'Gender'|translate}}</mat-label>
        <mat-select [placeholder]="'Gender'|translate" [formControl]="formGroup.controls['gender']">
          <mat-option value="male">{{'Male'|translate}}</mat-option>
          <mat-option value="female">{{'Female'|translate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls['gender'].errors?.['required']">{{'You must choose a value'|translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-4 p-3">
      <mat-form-field style="width: 200px;">
        <mat-label>{{'Created Date'|translate}}</mat-label>
        <input matInput [matDatepicker]="picker2" [placeholder]="'Created Date'|translate" [formControl]="formGroup.controls['createdDate']">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['createdDate'].errors?.['required']">{{'You must choose a date'|translate}}</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
<!-- <form [formGroup]="formGroup">

  <mat-form-field appearance="fill">
    <mat-label>{{'Username'|translate}}</mat-label>
    <mat-icon matPrefix class="material-symbols-rounded">person</mat-icon>
    <input type="text" matInput placeholder="..." [formControl]="formGroup.controls['name']" required minlength="4" maxlength="30">
    <mat-error *ngIf="formGroup.controls['name'].errors?.['required']">{{'You must enter a value'|translate}}</mat-error>
    <mat-error *ngIf="formGroup.controls['name'].errors?.['minlength']">{{'Minimum length is '|translate:minlength}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Birthdate" [formControl]="formGroup.controls['birthDate']">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker startView="multi-year" [startAt]="'2010-01-01T04:48:00.380Z'" #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender" [formControl]="formGroup.controls['gender']">
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Created Date" [formControl]="formGroup.controls['createdDate']">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

</form> -->
