<app-title [link]="{title:'Special Activities',link:'/special-activities'}" [isPrinting]="isPrinting"></app-title>
<div class="container">
  <app-search-export [isPrinting]="isPrinting" [gridOptions]="gridOptions" (keyup)="applySearch($event)"
    (print)="printTable()"></app-search-export>

  <div class="mat-elevation-z4 table-responsive mb-4 rounded-4">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular style="width: 100%;" class="ag-theme-material rtl" [gridOptions]="gridOptions" [rowData]="rowData"
      domLayout='autoHeight' [quickFilterText]="quickFilter"></ag-grid-angular>
  </div>

  <app-control-buttons *ngIf="!isPrinting"
    [buttons]="[null,{show:this.pr.canUser('editActivity'),disabled:selectedItem==null,tooltip:'Edit the selected row',icon:'edit',text:'Edit'},
      {show:this.pr.canUser('deleteActivity'),disabled:selectedItem==null,tooltip:'Delete the selected activity',color:'warn',text:'Delete',icon:'delete'},]"
    (click1)="edit(selectedItem)"
    (click2)="deleteDialog(selectedItem)"></app-control-buttons>
</div>