<app-title [isPrinting]="isPrinting"></app-title>
<div class="container">
  <app-search-export [isPrinting]="isPrinting" [gridOptions]="gridOptions"
  (keyup)="applySearch($event)" (print)="printTable()"></app-search-export>
  <div class="border border-1 table-responsive mb-4 rounded-4">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular style="width: 100%;" class="ag-theme-material rtl" [gridOptions]="gridOptions" [rowData]="rowData|async"
      domLayout='autoHeight' [quickFilterText]="quickFilter"></ag-grid-angular>
  </div>

  <app-control-buttons *ngIf="!isPrinting"
  [buttons]="[{show:this.pr.canUser('addProgram'),text:'Add new program',icon:'add'},
  {show:this.pr.canUser('activitiesPage'),disabled:selectedItem==null,tooltip:'View activities of the selected program',link:selectedItem?'/programs/program/'+selectedItem.id+'/activities':'./',text:'Activities',icon:'interests'},
  {show:this.pr.canUser('editProgram'),disabled:selectedItem==null,tooltip:'Edit the selected row',icon:'edit',text:'Edit'},
  {disabled:selectedItem==null,show:this.pr.canUser('deleteProgram'),tooltip:'Delete the selected program',color:'warn',text:'Delete',icon:'delete'}]"
  (click0)="addEdit()"
  (click2)="addEdit(selectedItem)"
  (click3)="deleteDialog(selectedItem)"
  ></app-control-buttons>
</div>
