<nav style="border-bottom-left-radius:1.4rem; border-bottom-right-radius:1.4rem;z-index:999"
  class="navbar shadow position-fixed top-0 navbar-expand-lg navbar-dark my-primary-bg w-100">
  <div class="d-flex w-100 justify-content-between align-items-center"
    [ngClass]="!isShowDivIf?'flex-wrap':'flex-nowrap'">
    <a routerLink="/"><img class="image mx-2" src="/assets/img/logo.png" alt="ACTS logo" /></a>
    <a routerLink="/"
      class="icon-name justify-self-md-start justify-self-center text-white text-decoration-none"><span>{{'ACTS'|translate}}</span></a>
    <button (click)="isShowDivIf=!isShowDivIf" class="navbar-toggler align-self-center mx-2" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul id="navbarResponsive" [ngClass]="!isShowDivIf?'show':''"
      class="navbar-nav w-100 collapse navbar-collapse mt-lg-0 mx-0 px-5 mt-3 justify-content-evenly">
      <li *ngFor="let p of pr.getUserPages('Settings')|async" (click)="isShowDivIf=true" class="nav-item"
        routerLinkActive="active">
        <a class="nav-link" [ngClass]="ut.getActivePage()?.link==p.link?'activeLink':''"
          [routerLink]="p.link">{{p.title|translate}}</a>
      </li>
      <mat-divider class="w-25 center border-white border-opacity-25 d-lg-none d-block"></mat-divider>
      <app-header-actions class="d-lg-none d-block" (hideHeader)="isShowDivIf=true">
      </app-header-actions>
    </ul>

    <app-header-actions class="d-none d-lg-block" (hideHeader)="isShowDivIf=true">
    </app-header-actions>
  </div>
</nav>
<div style="height:4.4rem" class="w-100"></div>