.image {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-name {
  font-size: 25px;
  font-family: Segoe UI;
  font-weight: bold;
  padding-left: 5px;
}


