<app-title [links]="[{title:'Strengths of', titleSuffix:childItsStrengths?.person?.name,titleLink:'Strengths'},
{title:service.childItsStrengths$.value?.person?.name??'',link:'children/child/'+service.childItsStrengths$.value?.id},
{title:'Children',link:'/children'}]" [isPrinting]="isPrinting"></app-title>
<div class="container">
  <app-search-export [isPrinting]="isPrinting" [gridOptions]="gridOptions" (keyup)="applySearch($event)"
    (print)="printTable()"></app-search-export>

  <div class="mat-elevation-z4 table-responsive mb-4 rounded-4">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular style="width: 100%;" class="ag-theme-material rtl" [gridOptions]="gridOptions"
      [rowData]="childItsStrengths?.strengths" domLayout='autoHeight' [quickFilterText]="quickFilter"></ag-grid-angular>
  </div>

  <app-control-buttons *ngIf="!isPrinting"
    [buttons]="[{show:this.pr.canUser('addStrength'),text:'Add new strength',icon:'add'},
      {show:this.pr.canUser('editStrength'),disabled:selectedItem==null,tooltip:'Edit the selected row',text:'Edit',icon:'edit'},
      {show:this.pr.canUser('deleteStrength'),disabled:selectedItem==null,tooltip:'Delete the selected strength',color:'warn',icon:'delete',text:'Delete'},]"
    (click0)="addEdit(childItsStrengths?.id)" (click1)="addEdit(this.selectedItem)"
    (click2)="deleteDialog(this.selectedItem)"></app-control-buttons>
</div>