<div style="max-width: 600px;">
  <h1 mat-dialog-title>{{getTitle()|translate}}</h1>
  <form [formGroup]="formGroup" class="container-fluid" (submit)="submit($event)">
    <div mat-dialog-content>
      <p *ngIf="getState()=='reenter'">
        {{'This action is very sensitive. We need to make sure you are the one logged in.'|translate}}
      </p>
      <div *ngIf="getState() === 'change'" class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'Old password'|translate}}</mat-label>
            <input [type]="hide1 ? 'password' : 'text'" matInput formControlName="oldPassword" minlength="4"
              maxlength="1024" autocomplete="new-password">
            <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            <mat-error>{{getOldPasswordErrorMessage()|translate:minMaxLength}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{getState()=='reenter'?'Password': 'New password'|translate}}</mat-label>
            <input focus [type]="hide ? 'password' : 'text'" matInput formControlName="password" minlength="4"
              maxlength="1024" autocomplete="new-password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            <mat-error>{{getPasswordErrorMessage()|translate:minMaxLength}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="getState() != 'reenter'" class="row mt-2">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'Repeat password'|translate}}</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="repeatPassword" minlength="4"
              maxlength="1024" autocomplete="new-password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            <mat-error>{{getRepeatPasswordErrorMessage()|translate:minMaxLength}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div mat-dialog-actions>
      <button type="button" mat-button (click)="dialogRef.close()" color="accent"
        cdkFocusInitial>{{'Cancel'|translate}}</button>
      <button type="submit" *ngIf="getState()=='change'" [disabled]="!formGroup.valid" mat-button color="primary">
        {{'Change password'|translate}}</button>
      <button *ngIf="getState()=='reset'" mat-button type="submit" color="primary">{{'Ok'|translate}}</button>
      <button *ngIf="getState()=='reenter'" mat-button type="submit" color="primary">{{'Confirm'|translate}}</button>
    </div>
  </form>
</div>
