<app-title [links]="(links|async)??[{ title: 'Accounts', link: '/account' }]"
  [isPrinting]="undefined"></app-title>
<div class="container">
  <app-card>
    <div *ngIf="account$|async as account">

      <app-person-view [person]="account.person"></app-person-view>

      <p><span class="fw-bold">{{'Username'|translate}}:</span>&nbsp;{{account.username||'–'}}</p>
      <p><span class="fw-bold">
          {{'Address'|translate}}:</span>&nbsp;{{account.address||'–'}}</p>
      <p><span
          class="fw-bold">{{'Phones'|translate}}:</span>&nbsp;{{display.accountPhones(account)||'–'}}</p>
      <p><span class="fw-bold">
          {{'Roles'|translate}}:</span>&nbsp;{{display.accountRoles(account.roles)||'–'}}</p>

      <app-control-buttons
        [buttons]="[null,{text:'Edit',icon:'edit',},
        {text:'Delete',icon:'person_remove',color:'warn'}]"
        (click1)="service.edit(this.account)"
        (click2)="deleteTheAccount(account)"
      ></app-control-buttons>

    </div>
  </app-card>
</div>