<div *ngIf="child">
  <p *ngIf="child.isArchive===true" class="fw-bold w-100 text-center my-warn-bg text-white rounded-5">
    {{'Archived'|translate}}</p>
  <app-person-view [person]="child.person"></app-person-view>

  <p><span class="fw-bold">{{'Diagnostic'|translate}}:</span>&nbsp;{{child.diagnostic}}</p>
  <p><span class="fw-bold">
      {{'Family information'|translate}}:</span>&nbsp;{{this.display.childFamilyInformation(child)||'–'}}</p>
  <p><span class="fw-bold">{{'Parent kinship'|translate}}:</span>&nbsp;{{child.parentsKinship||'–'}}</p>
  <p><span class="fw-bold">
      {{'Diagnostic date'|translate}}:</span>&nbsp;{{this.display.toDate(child.diagnosticDate)||'–'}}</p>
  <p><span class="fw-bold">
      {{'Pregnancy state'|translate}}:</span>&nbsp;{{child.pregnancyState||'–'}}</p>
  <p><span class="fw-bold">
      {{'Birth state'|translate}}:</span>&nbsp;{{child.birthState||'–'}}</p>
  <p><span class="fw-bold">
      {{'Growth state'|translate}}:</span>&nbsp;{{child.growthState||'–'}}</p>
  <p><span class="fw-bold">{{'Medicines'|translate}}:</span>&nbsp;{{child.medicine||'–'}}</p>
  <p><span class="fw-bold">{{'Priority skills'|translate}}:</span>&nbsp;{{child.prioritySkills||'–'}}</p>
  <p><span class="fw-bold">{{'Parent'|translate}}:</span>&nbsp;{{child.parent?.person?.name||'–'}}</p>
  <p><span class="fw-bold">{{'Teachers'|translate}}:</span>&nbsp;{{this.display.childTeachers(child)||'–'}}</p>
  <p><span class="fw-bold">{{'Program'|translate}}:</span>&nbsp;{{child.program?.name||'–'}}</p>

  <app-control-buttons *ngIf="!isPrinting"
    [buttons]="[null,{show:pr.canUser('editChildPage'),text:'Edit',icon:'edit'},
      {show:pr.canUser('childGoalsPage'),link:'children/child/'+child.id+'/goals',text:'Goals',icon:'sports_score'},
      {show:pr.canUser('childStrengthsPage'),link:'children/child/'+child.id+'/strengths',text:'Strengths',icon:'fitness_center'},
      {show:hideReport != true && this.pr.canUser('childReportPage'),link:'children/child/'+child.id+'/report',text:'Report',icon:'analytics'}]"
    (click1)="ut.router.navigate(['edit-child'], { state: { data: child } })"></app-control-buttons>
</div>