<div style="max-width: 600px;">
  <h1 mat-dialog-title>{{(activityProgramId|type: 'object')?'Edit activity':'Add new activity'|translate}}</h1>
  <form [formGroup]="formGroup" class="container-fluid" (submit)="submit($event)">
    <div mat-dialog-content>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'Activity'|translate}}</mat-label>
            <mat-icon matPrefix class="material-symbols-rounded">interests</mat-icon>
            <textarea type="text" matInput placeholder="..." formControlName="name" required minlength="3"
              maxlength="512"></textarea>
            <mat-error *ngIf="formGroup.get('name')?.errors?.['required']">
              {{'You must enter a value'|translate}}
            </mat-error>
            <mat-error *ngIf="formGroup.get('name')?.errors?.['minlength']">
              {{'Minimum length is '|translate:minlength}}
            </mat-error>
            <mat-hint align="end">{{formGroup.get('name')?.value?.length??0}}/500</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="activityProgramId!=null" class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'Minimum age'|translate}}</mat-label>
            <mat-icon matPrefix class="material-symbols-rounded">date_range</mat-icon>
            <mat-select formControlName="minAge">
              <mat-option *ngFor="let age of 1|range:100; let i=index;" [value]="age">{{age}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('minAge')?.errors?.['required']">
              {{'You must choose a value'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="activityProgramId!=null" class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'Maximum age'|translate}}</mat-label>
            <mat-icon matPrefix class="material-symbols-rounded">date_range</mat-icon>
            <mat-select formControlName="maxAge">
              <mat-option *ngFor="let age of 1|range:100; let i=index;"
                [disabled]="formGroup.get('minAge')?.value > age" [value]="age">{{age}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('maxAge')?.errors?.['required']">
              {{'You must choose a value'|translate}}
            </mat-error>
            <mat-hint class="d-inline-flex w-auto m-0 p-0"
              *ngIf="formGroup.get('minAge')?.value && formGroup.get('maxAge')?.value">{{'Age
              range'}}:&nbsp;{{formGroup.get('minAge')?.value}} – {{formGroup.get('maxAge')?.value}}</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'Field'|translate}}</mat-label>
            <mat-icon matPrefix class="material-symbols-rounded">workspaces</mat-icon>
            <mat-select formControlName="fieldId">
              <mat-option *ngFor="let field of fieldService.fields.value" [value]="field.id">{{field.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('fieldId')?.errors?.['required']">{{'You must choose a
              value'|translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <mat-form-field style="max-width: 250px;width:100%">
            <mat-label>{{'Created Date'|translate}}</mat-label>
            <input required matInput [matDatepicker]="picker4" [max]="nowDate" placeholder="..."
              formControlName="createdDatetime">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
            <mat-error *ngIf="formGroup.get('createdDatetime')?.errors?.['required']">{{'You must choose a
              date'|translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>



    <div mat-dialog-actions>
      <button type="button" mat-button (click)="dialogRef.close()" color="accent"
        cdkFocusInitial>{{'Cancel'|translate}}</button>
      <button [disabled]="!formGroup.valid" type="submit" mat-button
        color="primary">{{(activityProgramId|type:'number')?'Add':'Edit'|translate}}</button>
    </div>
  </form>
</div>
