<p>main page</p>
<h1>advanced angular tutorial!</h1>
<h1>{{title}}</h1>
<button class="btn btn-primary" (click)="changeTitle()">Click me!</button>
<br>

<form [formGroup]="myFormGroup">
	<label for="name">Name:</label>
	<input id="name" type="text" formControlName="name" />
	<p>Name value: {{ myFormGroup.controls.name.value }}</p>
	<p>Name status: {{ myFormGroup.controls.name.status }}</p>
	<label for="age">Age:</label>
	<input id="age" type="text" [formControl]="myFormGroup.controls.age" />
	<p>Age value: {{myFormGroup.controls.age.value}}</p>
	<p>Age status: {{myFormGroup.controls.age.status}}</p>
</form>



<h1><a href="https://material.angular.io/components/categories">Angular Material</a></h1>