.top {
  z-index: -1;
  top: -50px;
  // right: -500px;
  height: 670px;
  width: 100%;
  border-bottom-left-radius: 3.3rem;
  border-bottom-right-radius: 3.3rem;
  // border-radius: 50%;
  overflow: hidden !important;
}
@media (min-width: 768px) {
  .top {
    height: 500px;
  }
}

.card {
  width:250px;
}
