<div style="height:0px !important;" class="d-flex flex-nowrap overflow-visible">
  <div class="my-primary-bg position-relative top">
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex flex-md-row flex-column justify-content-md-between justify-content-center container mb-5 pb-5 mt-5 ">
    <div class="text-white mb-5 text-center mt-md-5 text-md-start">
      <h1 class="display-1">{{'ACTS'|translate}}</h1>
      <p class="display-6">{{'Autism Children Technical System'|translate}}</p>
    </div>
    <img class="align-self-center" src="assets/img/teacher-teach-child.svg" width="auto" height="330px" alt="Teacher teach a child">
  </div>
  <div class="py-2"></div>
  <mat-divider class="mx-5"></mat-divider>
  <div class=" mb-4 text-center">
<h2 class=" mt-4 pb-2">{{'Watch this video to see how Autism Children Technical System works'|translate}}</h2>
    <youtube-player
    videoId="PeIN-Fe7DQo"
    [width]="560"
    [height]="315"
    [playerVars]="{
      autoplay: 0,
    }"></youtube-player>
  </div>
    <mat-divider class="mx-5 mb-3"></mat-divider>
  <div class="d-flex flex-wrap justify-content-evenly">
    <mat-card *ngFor="let card of cards" (click)="ut.scrollTop()" [routerLink]="card.link" style="cursor: pointer;"
      class="card m-3 shadow mb-4 d-flex mdc-elevation--z7 rounded-5 align-items-center">
      <img style="max-width:220px; max-height: 220px;" class="p-2" [src]="card.img"
        [alt]="card.alt??'image represent card\'s content'">
      <div class="text-center mt-2 p-2">
        <h4 class="card-title">{{card.title|translate}}</h4>
        <p class="card-text">{{card.desc}}</p>
      </div>
    </mat-card>
  </div>
</div>
