.top {
  z-index: -1;
  margin-top: -50px;
  padding-top: 100px;
  border-bottom-left-radius: 2.3rem;
  border-bottom-right-radius: 2.3rem;
  overflow: hidden !important;
}

.card {
  width: 250px;
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  transition: all 250ms ease-out;

  &:hover {
    box-shadow: 0 .125rem .25rem rgba(#000, .075) !important;
    top: 6px;
  }
}
