<app-title [links]="[{title:'Fields'}]" [isPrinting]="isPrinting"></app-title>
<div class="container">
  <app-search-export [isPrinting]="isPrinting" [gridOptions]="gridOptions"
  (keyup)="applySearch($event)" (print)="printTable()"></app-search-export>

  <div class="mat-elevation-z4 table-responsive mb-4 rounded-4">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular style="width: 100%;" class="ag-theme-material rtl" [gridOptions]="gridOptions" [rowData]="rowData|async"
      domLayout='autoHeight' [quickFilterText]="quickFilter"></ag-grid-angular>
  </div>

  <app-table-controllers *ngIf="!isPrinting"
  [button1]="{show:this.pr.canUser('addField'),text:'Add new field',icon:'add'}"
  (button1Click)="addEdit()"
  [anchor2]="{show:this.pr.canUser('activitiesPage'),disabled:selectedItem==null,tooltip:'View activities of the selected field',link:selectedItem?'/field/'+selectedItem.id+'/activities':'./',text:'Activities',icon:'interests'}"
  [button3]="{show:this.pr.canUser('editField'),disabled:selectedItem==null,tooltip:'Edit the selected row',icon:'edit',text:'Edit'}"
  (button3Click)="addEdit(selectedItem)"
  [button4]="{disabled:selectedItem==null,show:this.pr.canUser('deleteField'),tooltip:'Delete the selected field',color:'warn',text:'Delete',icon:'delete'}"
  (button4Click)="deleteDialog(selectedItem)"
  ></app-table-controllers>
</div>
