<app-title [links]="[{title:'Fields'}]" [isPrinting]="isPrinting"></app-title>
<div class="container">
  <app-search-export [isPrinting]="isPrinting" [gridOptions]="gridOptions"
  (keyup)="applySearch($event)" (print)="printTable()"></app-search-export>

  <div class="mat-elevation-z4 table-responsive mb-4 rounded-4">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular style="width: 100%;" class="ag-theme-material rtl" [gridOptions]="gridOptions" [rowData]="rowData|async"
      domLayout='autoHeight' [quickFilterText]="quickFilter"></ag-grid-angular>
  </div>

  <app-table-controllers *ngIf="!isPrinting"
  [button1]="{show:canAddEdit,text:'Add new field',icon:'add'}"
  (button1Click)="addEdit()"
  [button2]="{show:canAddEdit,disabled:selectedItem==null,tooltip:'Edit the selected row',icon:'edit',text:'Edit'}"
  (button2Click)="addEdit(selectedItem)"
  [button3]="{disabled:selectedItem==null,show:canAddEdit,tooltip:'Delete the selected field',color:'warn',text:'Delete',icon:'delete'}"
  (button3Click)="deleteDialog(selectedItem)"
  ></app-table-controllers>
</div>
