<div class="container mt-4 mb-4">
  <div class="d-flex mt-3">
    <a *ngIf="links[links.length-2] && (isPrinting!=true)" [routerLink]="links[links.length-2].link??'./'" class="mx-2 align-self-center"
      [matTooltip]="tooltipOf(links[links.length-2])"  [fragment]="links[links.length-2].fragment" mat-icon-button color="primary">
      <mat-icon class="mb-1" color="primary">{{'arrow_back'|translate}}</mat-icon>
    </a>
    <div>
      <h1 *ngIf="links.length ==1" [ngClass]="links[links.length-1].class" class="pb-0 mb-1">{{(links[links.length-1].title)|translate}}<span
          *ngIf="links[links.length-1]?.titleSuffix">:&nbsp;{{links[links.length-1].titleSuffix}}</span></h1>
      <h2 *ngIf="links.length !=1" [ngClass]="links[links.length-1].class" class="pb-0 mb-1">{{(links[links.length-1].title)|translate}}<span
          *ngIf="links[links.length-1]?.titleSuffix">:&nbsp;{{links[links.length-1].titleSuffix}}</span></h2>
      <div *ngIf="links.length>1 && isPrinting!=true">
        <div *ngFor="let link of links; let i=index;" class="d-inline ">
          <a [routerLink]="link==links[links.length-1]?'./':(link.link??'./')" [matTooltip]="tooltipOf(link)"
            [class]="'my-accent-text '+(links.length-1 != i?'opacity-75':'')" [fragment]="link.fragment">
            {{(getLinkText(link))|translate}}<span
              *ngIf="getLinkTextSuffix(link)">
              :&nbsp;{{getLinkTextSuffix(link)}}</span>
          </a>
          <span *ngIf="links.length-1 != i">&nbsp;>&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</div>