<app-title [links]="this.activitiesOf == 'program' ? [
{title: 'Activities of program', titleSuffix: this.service.programItsActivities$.value?.name ?? ''}, {
  title: 'Programs', link: '/program'}
  ] : [
  { title: 'Activities of field', titleSuffix: this.service.fieldItsActivities$.value?.name ?? ''},
  { title: 'Fields', link: '/field'}]" [isPrinting]="isPrinting"></app-title>
<div class="container">
  <app-search-export [isPrinting]="isPrinting" [gridOptions]="gridOptions" (keyup)="applySearch($event)"
    (print)="printTable()"></app-search-export>

  <div class="mat-elevation-z4 table-responsive mb-4 rounded-4">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular style="width: 100%;" class="ag-theme-material rtl" [gridOptions]="gridOptions" [rowData]="rowData"
      domLayout='autoHeight' [quickFilterText]="quickFilter"></ag-grid-angular>
  </div>

  <app-control-buttons *ngIf="!isPrinting"
    [buttons]="[this.activitiesOf=='program'?{show:this.pr.canUser('addActivity'),text:'Add new activity',icon:'add'}:null,
    {show:this.pr.canUser('editActivity'),disabled:selectedItem==null,tooltip:'Edit the selected row',text:'Edit',icon:'edit'},
    {disabled:selectedItem==null,show:this.pr.canUser('deleteActivity'),tooltip:'Delete the selected activity',color:'warn',text:'Delete',icon:'delete'}]"
    (click0)="this.activitiesOf=='program'?addEdit(selectedItem?.programId):undefined"
    (click1)="addEdit(selectedItem)"
    (click2)="deleteDialog(selectedItem)"></app-control-buttons>
</div>