<p>children works!</p>
<div class="m-md-3 mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{'Name'|translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.person?.name}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> {{'Age'|translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.person?.age}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="diagnostic">
      <th mat-header-cell *matHeaderCellDef> {{'Diagnostic'|translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.diagnostic}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> {{'Gender'|translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.person?.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDatetime">
      <th mat-header-cell *matHeaderCellDef> {{'Created'|translate}} </th>
      <td mat-cell *matCellDef="let element"> {{ (element.person?.createdDatetime|date:'yyyy/M/dd, hh:mm a, ')+((element.person?.createdDatetime|date:'EEEE')??''|translate) }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'age', 'diagnostic', 'gender','createdDatetime']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'age', 'diagnostic', 'gender','createdDatetime'];"></tr>


    <ng-template matNoDataRow>
      <h4 class="p-2">{{'No data available'|translate}}</h4>
    </ng-template>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons>
  </mat-paginator>
</div>
