<h1 class="p-4 pb-0">{{'Children'|translate}}</h1>
<div class="m-md-3 mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <ng-container *ngFor="let key of (columnsKeys|slice:0:columnsKeys.length-2); let i = index;" [matColumnDef]="key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsTitles[i]|translate}} </th>
      <td mat-cell *matCellDef="let el"> {{el[key]}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDatetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Created'|translate}} </th>
      <td mat-cell *matCellDef="let el"> {{ (el.createdDatetime | date:'yyyy/M/dd, hh:mm a, ')+((el.createdDatetime |
        date:'EEEE')??''|translate) }} </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button aria-label="expand row"
          (click)="(expandedItem = expandedItem === item ? null : item); $event.stopPropagation()">
          <mat-icon>{{expandedItem === item ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let item" [attr.colspan]="columnsKeys.length">
        <div class="example-element-detail" [@detailExpand]="item == expandedItem ? 'expanded' : 'collapsed'">
        <p>{{'Date of birth'|translate}}</p>:&nbsp;<p>{{item.person.birthDate}}</p>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsKeys"></tr>
    <tr mat-row *matRowDef="let item; columns:columnsKeys;" class="example-element-row"
      [class.example-expanded-row]="expandedItem === item"
      (click)="expandedItem = expandedItem === item?undefined:item"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    <ng-template matNoDataRow>
      <h4 class="p-2">{{'No data available'|translate}}</h4>
    </ng-template>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20,50,100]" showFirstLastButtons>
  </mat-paginator>
</div>
