<app-title [links]="[{title:'Accounts'}]" [isPrinting]="isPrinting"></app-title>
<div class="container">
  <app-search-export [isPrinting]="isPrinting" [gridOptions]="gridOptions"
  (keyup)="applySearch($event)" (print)="printTable()"></app-search-export>
  <div class="mat-elevation-z4 table-responsive mb-4 rounded-4">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular style="width: 100%;" class="ag-theme-material rtl" [gridOptions]="gridOptions" [rowData]="rowData"
      domLayout='autoHeight' [quickFilterText]="quickFilter"></ag-grid-angular>
  </div>

  <app-table-controllers *ngIf="!isPrinting"
  [anchor1]="{link:'/add-account',text:'Register new account',icon:'person_add'}"
  [anchor2]="{disabled:selectedItem==null,tooltip:'View all information',link:selectedItem?'/account/'+selectedItem!.id:'./',text:'View',icon:'wysiwyg'}"
  [button3]="{disabled:selectedItem==null,tooltip:'Edit the selected row',icon:'edit',text:'Edit'}"
  (button3Click)="this.selectedItem?accountService.edit(this.selectedItem):ut.notify(null)"
  [button4]="{disabled:selectedItem==null,color:'warn',tooltip:'Delete the selected account',text:'Delete',icon:'person_remove'}"
  (button4Click)="this.selectedItem?accountService.deleteAccount(this.selectedItem):ut.notify(null)"
  ></app-table-controllers>
</div>
