<div class="container">
  <div class="d-flex justify-content-between align-items-end">
    <app-title [link]="{ title: 'Dashboard' }" [isPrinting]="undefined"></app-title>
  </div>

  <app-card cardTitle="Statistics">
    <app-timeframe [timeframeFormGroup]="timeframeFormGroup"></app-timeframe>
    <div class="d-flex flex-wrap justify-content-evenly font mt-md-0" *ngIf="numberCardsData$|async as counts">

      <app-number-card [timeframe]="timeframeFormGroup" content="Children" [number]="counts.children" src="assets/img/girl.svg"
        alt="children photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Programs" [number]="counts.programs" src="assets/img/Program.svg"
        alt="programs photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Fields" [number]="counts.fields" src="assets/img/Field.svg"
        alt="fields photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Accounts" [number]="counts.accounts" src="assets/img/Account.svg"
        alt="accounts photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Completed Goals" [number]="counts.completedGoals" src="assets/img/Completed-goals.svg"
        alt="Completed goals photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Continual Goals" [number]="counts.continualGoals" src="assets/img/Continual-goals.svg"
        alt="Continual goals photo"></app-number-card>

    </div>
  </app-card>

  <app-card cardTitle="Children">
    <app-timeframe [timeframeFormGroup]="timeframeFormGroup"></app-timeframe>
    <div dir="ltr" class="me-3 me-md-5 mb-md-3">
      <ngx-charts-area-chart [results]="childrenRegisterData$ | async" [gradient]="true" [legend]="false"
        [animations]="true" [xAxis]="true" [yAxis]="true" [showGridLines]="true" [roundDomains]="false"
        [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisTickFormatting]="xAxisTickFormatting"
        [xAxisLabel]="'Registration Date' | translate" [yAxisLabel]="'Number of Children' | translate" [gradient]="true"
        [timeline]="true">
      </ngx-charts-area-chart>
    </div>
  </app-card>
</div>