<div class="container">
  <div class="d-flex justify-content-between align-items-end">
    <app-title [link]="{ title: 'Dashboard' }" [isPrinting]="undefined"></app-title>
  </div>

  <app-card cardTitle="Statistics">
    <app-timeframe [timeframeFormGroup]="timeframeFormGroup"></app-timeframe>
    <div class="d-flex flex-wrap justify-content-evenly font mt-md-0" *ngIf="numberCardsData$|async as counts">

      <app-number-card [timeframe]="timeframeFormGroup" content="Active Children" [number]="counts.childrenNotArchive"
        src="assets/img/girl.svg" alt="children photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Programs" [number]="counts.programs"
        src="assets/img/Program.svg" alt="programs photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Fields" [number]="counts.fields"
        src="assets/img/Field.svg" alt="fields photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Accounts" [number]="counts.accounts"
        src="assets/img/Account.svg" alt="accounts photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Completed Goals" [number]="counts.completedGoals"
        src="assets/img/Completed-goals.svg" alt="Completed goals photo"></app-number-card>
      <app-number-card [timeframe]="timeframeFormGroup" content="Continual Goals" [number]="counts.continualGoals"
        src="assets/img/Continual-goals.svg" alt="Continual goals photo"></app-number-card>

    </div>
  </app-card>

  <app-card cardTitle="Children">
    <app-timeframe [timeframeFormGroup]="timeframeFormGroup"></app-timeframe>
    <div dir="ltr" class="me-3 me-md-5 mb-md-3 mt-2">
      <ngx-charts-area-chart [results]="childrenRegisterData$ | async" [gradient]="true" [legend]="false"
        [animations]="true" [xAxis]="true" [yAxis]="true" [showGridLines]="true" [roundDomains]="false"
        [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisTickFormatting]="xAxisTickFormatting"
        [xAxisLabel]="'Registration Date' | translate" [yAxisLabel]="'Number of Children' | translate"
        [timeline]="true">
      </ngx-charts-area-chart>
    </div>
  </app-card>

  <app-card cardTitle="Report" *ngIf="pr.canUser('dashboard') && (dashboard$|async) as dash" class="printable">
    <div class="d-flex flex-wrap justify-content-between unprintable mb-3">
      <app-timeframe [timeframeFormGroup]="timeframeFormGroup"></app-timeframe>
      <button (click)="printHandle()" class="m-2 mt-md-2 mt-4"
        [ngClass]="display.getDirection()=='rtl'?'start-0':'end-0'" mat-stroked-button color="primary">
        <mat-icon>print</mat-icon>{{ "Print" | translate }}
      </button>
    </div>

    <p class="text-center font-highlight">{{'Number of Data made between'|translate}}:
      {{timeframeFormGroup.get('from')!.value|toDateTimeWeek}}&nbsp;&nbsp; &minus;
      &nbsp;&nbsp;
      {{timeframeFormGroup.get('to')!.value|toDateTimeWeek}}</p>
    <div class="mx-3">
      <p><a [routerLink]="['/children']" [queryParams]="{'person.createdDatetime':  stringify({
            dateFrom: timeframeFormGroup.get('from')!.value?.toISOString(),
            dateTo: timeframeFormGroup.get('to')!.value?.toISOString(),
            filterType: 'date',
            type: 'inRange'
        }),'isArchive':stringify({})}"><span class="fw-bold">{{'Total
            Children'|translate}}:</span>&nbsp;{{dash.counts.childrenNotArchive +
          dash.counts.childrenArchive}}</a></p>
      <p><a [routerLink]="['/children']" [queryParams]="{'person.createdDatetime':  stringify({
            dateFrom: timeframeFormGroup.get('from')!.value?.toISOString(),
            dateTo: timeframeFormGroup.get('to')!.value?.toISOString(),
            filterType: 'date',
            type: 'inRange'
        }),'isArchive':stringify({values:['false'],filterType:'set'})}"><span class="fw-bold">{{'Active
            Children'|translate}}:</span>&nbsp;{{dash.counts.childrenNotArchive}}</a></p>
      <p><a [routerLink]="['/children']" [queryParams]="{'person.createdDatetime':  stringify({
            dateFrom: timeframeFormGroup.get('from')!.value?.toISOString(),
            dateTo: timeframeFormGroup.get('to')!.value?.toISOString(),
            filterType: 'date',
            type: 'inRange'
        }),'isArchive':stringify({values:['true'],filterType:'set'})}"><span class="fw-bold">{{'Archive
            Children'|translate}}:</span>&nbsp;{{dash.counts.childrenArchive}}</a></p>
      <p><a [routerLink]="['/fields']" [queryParams]="{'createdDatetime':  stringify({
            dateFrom: timeframeFormGroup.get('from')!.value?.toISOString(),
            dateTo: timeframeFormGroup.get('to')!.value?.toISOString(),
            filterType: 'date',
            type: 'inRange'
        })}"><span
            class="fw-bold">{{'Fields'|translate}}:</span>&nbsp;{{dash.counts.fields}}</a></p>
      <p><a [routerLink]="['/programs']" [queryParams]="{'createdDatetime':  stringify({
            dateFrom: timeframeFormGroup.get('from')!.value?.toISOString(),
            dateTo: timeframeFormGroup.get('to')!.value?.toISOString(),
            filterType: 'date',
            type: 'inRange'
        })}"><span
            class="fw-bold">{{'Programs'|translate}}:</span>&nbsp;{{dash.counts.programs}}</a></p>
      <p><a [routerLink]="['/accounts']" [queryParams]="{}"><span
            class="fw-bold">{{'Accounts'|translate}}:</span>&nbsp;{{dash.counts.accounts}}</a></p>
      <p><span class="fw-bold">{{'Total
            Goals'|translate}}:</span>&nbsp;{{dash.counts.completedGoals +
          dash.counts.continualGoals}}</p>
      <p><span class="fw-bold">{{'Completed
            Goals'|translate}}:</span>&nbsp;{{dash.counts.completedGoals}}</p>
      <p><span class="fw-bold">{{'Continual
            Goals'|translate}}:</span>&nbsp;{{dash.counts.continualGoals}}</p>
      <p><span
            class="fw-bold">{{'Strengths'|translate}}:</span>&nbsp;{{dash.counts.strengths}}</p>
      <p><span
            class="fw-bold">{{'Activities'|translate}}:</span>&nbsp;{{dash.counts.activities}}</p>
      <p><span class="fw-bold">{{'Special
            Activities'|translate}}:</span>&nbsp;{{dash.counts.specialActivities}}</p>
      <p><span
            class="fw-bold">{{'Evaluations'|translate}}:</span>&nbsp;{{dash.counts.evaluations}}</p>

      <p class="text-center font-highlight">{{'Number of Data in the System'|translate}}</p>
      <p><a [routerLink]="['/children']" [queryParams]="{'isArchive':stringify({})}"><span class="fw-bold">{{'Total
            Children'|translate}}:</span>&nbsp;{{dash.childrenNotArchiveCount +
          dash.childrenArchiveCount}}</a></p>
      <p><a [routerLink]="['/children']" [queryParams]="{'isArchive':stringify({values:['false']})}"><span class="fw-bold">{{'Active
            Children'|translate}}:</span>&nbsp;{{dash.childrenNotArchiveCount}}</a></p>
      <p><a [routerLink]="['/children']" [queryParams]="{'isArchive':stringify({values:['true']})}"><span class="fw-bold">{{'Archive
            Children'|translate}}:</span>&nbsp;{{dash.childrenArchiveCount}}</a></p>
      <p><a [routerLink]="['/fields']"><span
            class="fw-bold">{{'Fields'|translate}}:</span>&nbsp;{{dash.fieldsCount}}</a></p>
      <p><a [routerLink]="['/programs']"><span
            class="fw-bold">{{'Programs'|translate}}:</span>&nbsp;{{dash.programsCount}}</a></p>
      <p><a [routerLink]="['/accounts']"><span
            class="fw-bold">{{'Accounts'|translate}}:</span>&nbsp;{{dash.accountsCount}}</a></p>
      <p><span class="fw-bold">{{'Total
            Goals'|translate}}:</span>&nbsp;{{dash.completedGoalsCount +
          dash.continualGoalsCount}}</p>
      <p><span class="fw-bold">{{'Completed
            Goals'|translate}}:</span>&nbsp;{{dash.completedGoalsCount}}</p>
      <p><span class="fw-bold">{{'Continual
            Goals'|translate}}:</span>&nbsp;{{dash.continualGoalsCount}}</p>
      <p><span
            class="fw-bold">{{'Strengths'|translate}}:</span>&nbsp;{{dash.strengthsCount}}</p>
      <p><span
            class="fw-bold">{{'Activities'|translate}}:</span>&nbsp;{{dash.activitiesCount}}</p>
      <p><span class="fw-bold">{{'Special
            Activities'|translate}}:</span>&nbsp;{{dash.specialActivitiesCount}}</p>
      <p><span
            class="fw-bold">{{'Evaluations'|translate}}:</span>&nbsp;{{dash.evaluationsCount}}</p>



    </div>
  </app-card>
</div>