<app-title [isPrinting]="undefined"></app-title>
<app-card cardTitle="Application Language">
  <div class="d-flex m-3 justify-content-center">
    <mat-button-toggle-group class="w-75 rounded-5" aria-label="Choose language">
      <mat-button-toggle class="w-50" [checked]="this.translate.currentLang=='ar'"
        (change)="this.translate.use('ar')">عربي</mat-button-toggle>
      <mat-button-toggle class="w-50" [checked]="this.translate.currentLang=='en'"
        (change)="this.translate.use('en')">English</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</app-card>

<app-card id="my-account-information" *ngIf="user" cardTitle="My Account Information">
  <div class="d-flex justify-md-content-between flex-md-row flex-column">
    <div class="flex-fill order-md-0 order-1">
      <p><span class="fw-bold">{{'Name'|translate}}:</span>&nbsp;{{user.person.name}}</p>
      <p><span class="fw-bold">{{'Gender'|translate}}:</span>&nbsp;{{user.person.gender|translate}}</p>
      <p><span class="fw-bold">{{'Username'|translate}}:</span>&nbsp;{{user.username}}</p>
      <p *ngIf="user.birthdate">
        <span class="fw-bold">{{'Birthdate'|translate}}:</span>&nbsp;{{user.birthdate|toDate}}{{','|translate}}&nbsp;{{user.birthdate|fromNow:true}}
      </p>
      <p><span class="fw-bold">{{'Roles'|translate}}:</span>&nbsp;{{(user.roles|accountRoles)}}</p>
      <p><span class="fw-bold">{{'Phones'|translate}}:</span>&nbsp;{{(user|accountPhones)}}</p>
      <p><span class="fw-bold">{{'Address'|translate}}:</span>&nbsp;{{(user.address)}}</p>
      <button mat-stroked-button color="primary" (click)="editMyAccountInfo()">
        {{'Edit'|translate}}<mat-icon color="primary">edit</mat-icon>
      </button>
    </div>
    <img #imageRef class="mb-4 mb-md-0 align-self-center mx-0 mx-md-auto rounded-4 order-md-1 order-0" style="height:11rem" width="auto"
    [attr.src]="user.person.image && user.person.image.startsWith('http')?user.person.image:'assets/person-images/'+(user.person.image??'default.svg')" />
  </div>
</app-card>

<app-card *ngIf="user" cardTitle="Notifications">
  <div class="row m-3 mb-0 d-flex">
    <mat-slide-toggle class="col-md-7 align-self-baseline mt-3 mb-md-0 mb-4" (change)="changeNotification($event.checked)"
      [checked]="(nt.notificationSettings|async)?.showNotification" color="primary">
      {{'Show notifications'|translate}}
    </mat-slide-toggle>
    <mat-form-field class="col-md-5">
      <mat-label>{{'Close after'|translate}}</mat-label>
      <input matInput [disabled]="!(nt.notificationSettings|async)?.showNotification" type="number"
        [(ngModel)]="closeAfter" (change)="changeNotification($event)" (keyup)="changeNotification($event)"
        [placeholder]="'0 for infinity'|translate" />
      <span matTextSuffix>{{'Seconds'|translate}}</span>
    </mat-form-field>
  </div>
</app-card>

<app-card *ngIf="this.pr.canUser('backupRestore')" cardTitle="Backup & Recovery">
  <p>{{'Backup and recovery is a process of creating and storing copies of the system data that can be used to protect
    your system information in case of a system failure, malware attack, or accidental deletion.'|translate}}</p>
  <p>{{'Click on Create Backup File button to create a backup of the entire database and download it as a backup file.
    You can also use this file to restore your database to its previous state if something goes wrong.'|translate}}
  </p>
  <p>{{'Click on Restore Database button to restore the database from a backup, choose the backup file you want to
    use. Your database will be overwritten with the data from the backup file. The restore process will replace your
    current database with the backup version. You will be able to access your data as it was before the
    failure.'|translate}}</p>
  <a [disabled]="uploadProgress!=null" class="mx-2" mat-stroked-button [href]="this.API+'backup'" download
    color="primary">{{'Create Backup File'|translate}}</a>

  <input #fileInput type="file" name="backup" (change)="onFileSelected($event)" accept=".sql.gz" hidden>
  <button [disabled]="uploadProgress!=null" class="mx-2" mat-stroked-button (click)="restore()"
    color="warn">{{'Restore Database'|translate}}</button>

  <mat-progress-bar *ngIf="uploadProgress != null" class="mt-2" mode="determinate"
    [value]="uploadProgress"></mat-progress-bar>
</app-card>