<mat-toolbar color="primary" class="mat-elevation-z3">
  <img />
  <img class="image" src="../../../assets/ribbon.png" alt="logo" />
  <span class="icon-name">{{'ACTS'|translate}}</span>
  <div class="meddl">
    <span><a routerLink="/" mat-button>{{'Home'|translate}}</a></span>
    <span><a routerLink="/field" mat-button>{{'Field'|translate}} </a></span>
    <span><button mat-button (click)="changeLang()">{{language|translate}}</button></span>
  </div>
  <div class="spanc"></div>
  <span>
    <a *ngIf="!isLoggedIn" routerLink="/login" mat-raised-button color="accent">{{'Login'|translate}}</a>
    <button *ngIf="isLoggedIn" (click)="this.loginService.logout()" mat-raised-button color="accent">{{'Logout'|translate}}</button>
  </span>


</mat-toolbar>
