<!--Note: this component used in add/edit child page AND in children table-->
<div class="container">
  <h1 *ngIf="readonlyChild == null" class="m-2 mt-5">
    {{child?.id?'Edit child information':'Register a child'|translate}}
  </h1>
  <app-person-form [(person)]="person"></app-person-form>
  <mat-divider class="p-2 my-3 mx-5"></mat-divider>
  <form [formGroup]="childForm" class="container-fluid" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-4 p-2">
        <mat-form-field style="max-width: 250px;width:100%" appearance="fill">
          <mat-label>{{'Number of sisters'|translate}}</mat-label>
          <mat-select formControlName="femaleFamilyMembers"
            (selectionChange)="familyMembers.value = calcFamilyMembers()">
            <mat-option *ngFor="let o of ut.ordinalNumbers; let i=index;" [value]="i">{{i}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 p-2">
        <mat-form-field style="max-width: 250px;width:100%" appearance="fill">
          <mat-label>{{'Number of brothers'|translate}}</mat-label>
          <mat-select formControlName="maleFamilyMembers" (selectionChange)="familyMembers.value = calcFamilyMembers()">
            <mat-option *ngFor="let o of ut.ordinalNumbers; let i=index;" [value]="i">{{i}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 p-2">
        <mat-form-field style="max-width: 250px;width:100%" appearance="fill">
          <mat-label>{{'Family members'|translate}}</mat-label>
          <input matInput type="number" disabled #familyMembers [value]="calcFamilyMembers()">
          <mat-hint *ngIf="readonlyChild == null">
            {{'Calculated automatically. This child has been calculated'|translate}}
          </mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 p-2">
        <mat-form-field style="max-width: 250px;width:100%" appearance="fill">
          <mat-label>{{'Order between siblings'|translate}}</mat-label>
          <mat-select formControlName="birthOrder">
            <mat-option *ngFor="let o of ut.ordinalNumbers; let i=index;" [value]="i+1"
              [disabled]="compare(i+1,familyMembers.value)">{{o|translate}}</mat-option>
          </mat-select>
          <mat-hint *ngIf="readonlyChild == null">
            {{"Example: 'First' of three siblings"|translate}}
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-8 p-2 mt-3">
        <p *ngIf="childForm.get('birthOrder')?.value">
          {{'Order between siblings'|translate}}&nbsp;
          <b>{{ut.ordinalNumbers[(childForm.get('birthOrder')?.value)-1]|translate}}</b>
          &nbsp;{{'of'|translate}}&nbsp;
          <b>{{familyMembers.value}}</b>
          &nbsp;{{'siblings'|translate}}(
          <b>{{childForm.get('femaleFamilyMembers')?.value+(person?.gender=='Female'?1:0)}}</b>
          &nbsp;{{'girls'|translate}}{{','|translate}}&nbsp;
          <b>{{childForm.get('maleFamilyMembers')?.value+(person?.gender=='Male'?1:0)}}</b>
          &nbsp;{{'boys'|translate}}).
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 p-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{'Parent kinship'|translate}}</mat-label>
          <textarea placeholder="..." #parentsKinship matInput formControlName="parentsKinship"
            maxlength="512"></textarea>
          <mat-hint *ngIf="readonlyChild == null" align="end">{{parentsKinship.value.length}}/500</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-4 p-2">
        <mat-form-field style="max-width: 250px;width:100%" appearance="fill">
          <mat-label>{{'Diagnostic date'|translate}}</mat-label>
          <input matInput [matDatepicker]="picker3" placeholder="..." formControlName="diagnosticDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker startView="multi-year" #picker3></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 p-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{'Pregnancy state'|translate}}</mat-label>
          <textarea placeholder="..." #pregnancyState matInput formControlName="pregnancyState"
            maxlength="512"></textarea>
          <mat-hint *ngIf="readonlyChild == null" align="end">{{pregnancyState.value.length}}/500</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6 p-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{'Birth state'|translate}}</mat-label>
          <textarea placeholder="..." #birthState matInput formControlName="birthState" maxlength="512"></textarea>
          <mat-hint *ngIf="readonlyChild == null" align="end">{{birthState.value.length}}/500</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 p-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{'Growth state'|translate}}</mat-label>
          <textarea placeholder="..." #growthState matInput formControlName="growthState" maxlength="512"></textarea>
          <mat-hint *ngIf="readonlyChild == null" align="end">{{growthState.value.length}}/500</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6 p-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{'Diagnostic'|translate}}</mat-label>
          <textarea placeholder="..." #diagnostic matInput formControlName="diagnostic" maxlength="512"></textarea>
          <mat-hint *ngIf="readonlyChild == null" align="end">{{diagnostic.value.length}}/500</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 p-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{'Medicines'|translate}}</mat-label>
          <textarea placeholder="..." #medicine matInput formControlName="medicine" maxlength="512"></textarea>
          <mat-hint *ngIf="readonlyChild == null" align="end">{{medicine.value.length}}/500</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6 p-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{'Behaviors'|translate}}</mat-label>
          <textarea placeholder="..." #behaviors matInput formControlName="behaviors" maxlength="512"></textarea>
          <mat-hint *ngIf="readonlyChild == null" align="end">{{behaviors.value.length}}/500</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 p-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{'Priority skills'|translate}}</mat-label>
          <textarea placeholder="..." #prioritySkills matInput formControlName="prioritySkills"
            maxlength="512"></textarea>
          <mat-hint *ngIf="readonlyChild == null" align="end">{{prioritySkills.value.length}}/500</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-6 p-2">
        <mat-form-field class="w-100">
          <mat-label>{{'Parent'|translate}}</mat-label>
          <mat-select formControlName="parentId">
            <mat-option value="null">--&nbsp;{{"None"|translate}}&nbsp;--</mat-option>
            <mat-option *ngFor="let parent of parents" [value]="parent.id">
              <span style="font-size: medium;" class="d-block pt-2">{{parent.person.name}}.</span>
              <span style="font-size: small;" class="opacity-75">{{parent.username}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 p-2">
        <mat-form-field class="w-100">
          <mat-label>{{'Teachers'|translate}}</mat-label>
          <mat-select allow-empty multiple formControlName="teachers">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher">
              <span style="font-size: medium;" class="d-block pt-2">{{teacher.person.name}}.</span>
              <span style="font-size: small;" class="opacity-75">{{teacher.username}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="child?.id || readonlyChild?.id" class="col-md-2 p-2 d-flex justify-content-center align-items-center">
        <mat-slide-toggle (change)="archiveChanged()" color="warn"
          formControlName="isArchive">{{'Archive'|translate}}</mat-slide-toggle>
      </div>
    </div>

    <div *ngIf="readonlyChild == null" class="d-flex mt-4 mb-5  pb-5">
      <button [disabled]="this.ut.isLoading.value" class="w-75 mx-auto rounded-5" type="submit" mat-flat-button color="primary">
        {{child?.id == null?'Submit':'Save Changes'|translate}} </button>
    </div>
  </form>
</div>
