<div style="max-width: 500px;" class="px-md-3 px-2 pt-3">
  <h4 mat-dialog-title [className]="titleColor">
    <div style="display: flex; align-items: center;">
      <mat-icon *ngIf="titleIcon"  style="margin-top: 5px;">{{titleIcon}}</mat-icon>
      <span class="mx-1">{{titleText|translate}}</span>
    </div>
  </h4>
  <mat-dialog-content>
    {{content|translate}}
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button *ngFor="let b of buttons" (click)="dialogRef.close(b.type)"
      [color]="b.color">{{b.type|translate}}</button>
  </mat-dialog-actions>
</div>
