<div style="max-width: 500px;" class="px-md-3 px-2 pt-3">
  <div mat-dialog-title [className]="titleColor">
    <div class="d-flex justify-content-between">
      <div>
        <h4 [className]="titleColor">{{titleText|translate}}</h4>
      </div>
      <mat-icon *ngIf="titleIcon" style="margin:6px 6px 0px 6px;" [className]="titleColor">{{titleIcon}}</mat-icon>
    </div>
  </div>
  <mat-dialog-content>
    <p>{{content|translate}}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button class=" rounded-5" *ngFor="let b of buttons" (click)="dialogRef.close(b.type)"
      [color]="b.color">{{b.type|translate}}</button>
  </mat-dialog-actions>
</div>
